$c-light_transparent: rgba(255, 255, 255, 0.2);
$c-white: #ffffff;
$c-pale_white: #ffffff95;
$c-ginger: #ea4737;
$c-blue: #0000ff;
$c-dark_blue: #70b0ff;
$c-light_blue: #2998e2;
$c-light_blue_text: #4a90e2;
$c-faux_chinese_black: #07131b;
