.movie-poster-slider {
  width: 1299px;
}

.splide {
  .splide__arrow--prev {
    left: 5px;
    transform: translateY(-50%) scaleX(-1);
  }

  .splide__arrow--next {
    right: 0px;
  }

  .splide__arrow {
    width: 36px;
    height: 368px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.33);

    svg {
      text-align: center;
      position: relative;
      top: 50px;
      left: 50px;
      transform: translate(-37px, -50px);
      width: fit-content;
      height: fit-content;
      fill: #fff;
    }
  }
}
