.movie-poster-slider {
  width: 100%;
  margin: 0;
  overflow: hidden;

  .splide {
    width: 100%;
    .splide__arrow--prev {
      left: 5px;
      transform: translateY(-50%) scaleX(-1);
    }

    .splide__arrow--next {
      right: 0px;
    }

    .splide__arrow {
      width: 36px;
      height: 368px;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.33);

      svg {
        text-align: center;
        position: relative;
        top: 50px;
        left: 50px;
        transform: translate(-37px, -50px);
        width: fit-content;
        height: fit-content;
        fill: #fff;
      }
    }
  }
}

@media all and (max-width: 830px) {
  .movie-poster-slider {
    .splide {
      .splide__arrow {
        height: 330px;
      }
    }
    .movie-poster {
      height: 330px;

      .linear-gradient-block {
        .text-block {
          &__movie-title {
            font-size: 16px;
            line-height: 18px;
          }
          &__movie-genre {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 630px) {
  .movie-poster-slider {
    .splide {
      .splide__arrow {
        height: 300px;
      }
    }
    .movie-poster {
      height: 300px;

      .linear-gradient-block {
        .text-block {
          &__movie-title {
            font-size: 15px;
          }

          &__movie-genre {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 530px) {
  .movie-poster-slider {
    .splide {
      .splide__arrow {
        height: 230px;
      }
    }

    .movie-poster {
      height: 230px;

      .linear-gradient-block {
        .text-block {
          padding: 0px 10px;

          &__movie-title {
            font-size: 14px;
          }

          &__movie-genre {
            font-size: 11px;
            padding-top: 2px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 430px) {
  .movie-poster-slider {
    .splide {
      .splide__arrow {
        height: 190px;
      }
    }

    .movie-poster {
      height: 190px;

      .linear-gradient-block {
        .text-block {
          bottom: 10px;
          padding: 0px 5px;

          &__movie-title {
            line-height: 12px;
            font-size: 12px;
          }
          
          &__movie-genre {
            line-height: 12px;
            font-size: 10px;
            padding-top: 1px;
          }
        }
      }
    }
  }
}
