@import "@/styles/global/general.scss";

.main {
  .now-playing {
    margin: 0 auto;
    display: flex;
  }

  .block-with-components {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
  }
}

@media all and (max-width: 1395px) {
  .main {
    .block-with-components {
      margin: 0 20px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media all and (max-width: 460px) {
  .main {
    .block-with-components {
      .g-component-header {
        font-size: 22px;
      }
    }
  }
}
