@import "@/styles/global/general.scss";

.main {
  .content {
    width: 100%;
    margin: 0 auto;

    .block-now-playing {
      margin: 0 auto;
      display: flex;

      .side-header {
        height: 368px;
      }
    }

    .block-treilers {
      margin: 0 auto;
      display: flex;

      .side-header {
        height: 395px;
      }
    }

    .block-with-components {
      box-sizing: content-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 120px;
    }
  }
}

@media all and (max-width: 1395px) {
  .main {
    .block-with-components {
      margin: 0 20px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media all and (max-width: 1030px) {
  .main {
    .content {
      .block-treilers {
        .side-header {
          height: 590px;
        }
      }
    }
  }
}

@media all and (max-width: 830px) {
  .main {
    .content {
      .block-now-playing {
        .side-header {
          height: 330px;
        }
      }
    }
  }
}

@media all and (max-width: 630px) {
  .main {
    .content {
      .block-now-playing {
        .side-header {
          height: 300px;
          .side-header__text {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 460px) {
  .main {
    .block-with-components {
      .g-component-header {
        font-size: 22px;
      }
    }
  }
}

@media all and (max-width: 430px) {
  .main {
    .content {
      .block-now-playing {
        .side-header {
          height: 280px;
        }
      }
    }
  }
}