@import "@/styles/global/general.scss";

.block-last-news {
  width: 414px;
  min-height: 381px;
  position: relative;

  &__header {
    display: flex;

    h2 {
      margin: 0 0 12px 0;
    }

    .news-categories-menu {
      margin: 0 50px;
      padding: 0;
      height: 21px;
      display: flex;

      .decorative-trait {
        margin: 0 9px;
      }

      li {
        list-style: none;
        cursor: pointer;
        
        &:hover {
          color: $c-light_blue_text;
        }
      }

      .selected-news-category {
        color: $c-light_blue_text;
      }
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
